.clock {
    align-items: center;
    background-color: $clock-bg-color;
    border: 3px solid $clock-border-color;
    border-radius: 50%;
    display: flex;
    height: 20rem;
    justify-content: center;
    margin: 5rem auto;
    width: 20rem;
}

.clock-text {
    color: $clock-text-color;
    font-size: 3rem;
    font-weight: 300;
}